<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlightInspectionDesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FlightInspectionDesktopApp.Properties.Settings>
            <setting name="portGeneric" serializeAs="String">
                <value>5400</value>
            </setting>
            <setting name="portTelnet" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="hostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="hostIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="cmdGeneric" serializeAs="String">
                <value>--generic=socket,in,10</value>
            </setting>
            <setting name="cmdTelnet" serializeAs="String">
                <value>--telnet=socket,in,10</value>
            </setting>
            <setting name="protocolType" serializeAs="String">
                <value>tcp</value>
            </setting>
            <setting name="cmdFDM" serializeAs="String">
                <value>--fdm=null</value>
            </setting>
            <setting name="varSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="bigCircle" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="smallCircle" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="httpd" serializeAs="String">
                <value>--httpd=8080</value>
            </setting>
        </FlightInspectionDesktopApp.Properties.Settings>
    </applicationSettings>
</configuration>